<section class="featured-section col-md-8" id="section">
    <div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Users</h2>
            </div>
        </div>
        <br>
        <div class="row justify-content-center" id="users">
            <div class="col-lg-5" *ngFor="let u of users">
                <div (click)="openInfo(u.id)" id="user">
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>{{u.name}}</mat-card-title>
                    </mat-card-header>
                    <!--<img [src]="u.image" id="img">-->
                    <br>
                    <mat-card-content>
                        <p>Name: {{u.firstName}}</p>
                        <p>Last name: {{u.lastName}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            </div>
        </div>
    </div>
</section>