<div class="form">
  <div class="container">
    <div class="text-center">
      <h2 class="text-theme-primary">Reservaton information</h2>
    </div>
    <div>
      <div class="informacje">
        <p>Guest full name: {{reservationDetails?.user?.firstName}} {{reservationDetails?.user?.lastName}}</p>
        <p>Accomodation unit : {{reservationDetails?.accommodationUnit?.name}} </p>
        <p>Check in date: {{reservationDetails?.checkIn | date: 'dd/MM/yyyy'}}</p>
        <p>Check out date: {{reservationDetails?.checkOut | date: 'dd/MM/yyyy'}}</p>
        <p>Number of guests: {{reservationDetails?.numberOfPeople}}</p>
        <p>Price of unit for {{interval - 1}} nights: {{reservationDetails?.accommodationUnit?.prices[0].pricePerNight * (interval-1)}}$</p>

      </div>

      <button (click)="openDialog()">Used minibar items</button>
    </div>
    <button type="submit" (click)="create()">Create receipt</button>
    <div class="container"></div>
  </div>
</div>
