<div>
    <h1 class="naslov">TERMS AND CONDITIONS</h1>

    <h1>Article 1 (Scope of Application)</h1>
    <p>
      These Terms and Conditions shall govern any accommodation agreements or any other related contracts entered into between the hotel and the guest (including daytime guests using rooms for teleworking, etc.; the same shall apply hereinafter), and any matters not stipulated in the Terms and Conditions shall be governed by law and generally established customs.
      Any usage guidelines and precautions (hereinafter collectively referred to as "Rules") presented by the hotel in connection with these Terms and Conditions shall, in addition to the Hotel Rules and Regulations established by the hotel and kept in guestrooms, constitute a part of these Terms and Conditions.
      Notwithstanding the preceding paragraph, any special agreements provided by the hotel within the scope permitted by law and customs shall take precedence.
    </p>
    
    <h1>Article 2 (Application for an Accommodation Agreement)</h1>
    <p>
      Those applying for an accommodation agreement at the hotel shall provide the hotel with the following information:
      <ul>
        <li>Guest name and telephone number</li>
        <li>The date of stay and estimated time of arrival</li>
        <li>Accommodation fees (generally based on the Basic Accommodation Fees in Appendix 1.)</li>
        <li>Other information the hotel deems necessary</li>
      </ul>
      In the event that a guest requests to extend their stay beyond the date listed in (2) of the preceding paragraph, an application for a new accommodation agreement is deemed to have been made at the time the request was made.

    
    <h1>Article 3 (Establishment of the Accommodation Agreement)</h1>
    <p>
      The accommodation agreement shall be established when the hotel accepts the application set forth in the preceding paragraph. However, this does not apply when the hotel proves it has not accepted the application.
      When an accommodation agreement has been established as per the provisions of the preceding paragraph, the guest must pay a deposit set by the hotel by the deadline designated by the hotel.
      The deposit shall first be allocated to room charges ultimately payable by the guest, then allocated to fines followed by compensation for damages in the event that the provisions of Articles 6 and 21 apply; any remaining deposit shall be returned at the time of payment in accordance with Article 13.
      The accommodation agreement shall cease to be effective when the guest fails to pay the deposit set forth in Paragraph 2 by the deadline designated by the hotel. However, this is limited to cases in which the hotel notifies guests of a deposit deadline.
    </p>

    
    <h1>Article 4 (Special Agreements Not Requiring a Deposit)</h1>
    <p>
      Notwithstanding the provisions of Paragraph 2 of the preceding article, the hotel may accept special agreements that do not require payment of a deposit.
      The preceding paragraph on special agreements shall apply when the hotel does not request payment of the deposit set forth in Paragraph 2 of the preceding article or does not specify a deposit payment deadline when accepting applications for an accommodation agreement.
    </p>
    
    
    <h1>Article 5 (Refusal of Accommodation Agreements)</h1>
    <p>
      This hotel may refuse to enter into an accommodation agreement in the following cases:
      <ul>
        <li>When the accommodation application violates the stipulations of these Terms and Conditions</li>
        <li>When guestrooms are fully booked</li>
        <li>When a potential guest is deemed likely to break the law, disrupt public order, or act contrary to public morals during their stay</li>
        <li>When a potential guest is deemed to fall under any of the following categories (a) to (c):</li>
          <ul>
            <li>a. An organized crime group under the Act on Prevention of Unjust Acts by Organized Crime Group Members (Act No. 77 of 1991) as stipulated in Article 2 (2) (hereinafter "organized crime group"), a member of an organized crime group as stipulated in Article 2 (6) (hereinafter "organized crime group member"), an associate member or affiliate of an organized crime group or any other antisocial force</li>
            <li>b. When the applicant is involved in corporations or other organizations whose operations are controlled by an organized crime group.</li>
            <li>c. When any of the directors of the applicant’s corporation is classified as a member of an organized crime group</li>
          </ul>
        <li>When the potential guest’s behavior poses a significant nuisance to other guests</li>
        <li>When the potential guest clearly has a contagious disease</li>
        <li>When the potential guest uses violence, threats, blackmail, or intimidation to make unjust or unreasonable demands against the hotel or its employees, or is deemed to have engaged in any similar acts in the past</li>
        <li>When the hotel is unable to accommodate guests due to natural disaster, facility malfunction, or other inevitable circumstances</li>
        <li>When the potential guest is intoxicated, exhibits or has exhibited extremely abnormal behavior that may pose a nuisance to other guests, or in cases that fall under the provisions of prefectural ordinances</li>
        <li>When the potential guest is extremely unsanitary or is wearing extremely dirty clothes that may cause a nuisance to other guests</li>
        <li>When the potential guest conceals the fact that they have reserved a guestroom within the hotel for the purpose of making a profit, either for themselves or for a third party, by selling goods, etc.</li>
        <li>When the potential guest does not comply with these Terms and Conditions or with cancellation and payment policies when making a reservation</li>
      </ul>
    
    
    
    <h1>Article 6 (The Guest’s Right to Terminate the Accommodation Agreement)</h1>
    <p>
      Guests may request that the hotel terminate the accommodation agreement.
      If the accommodation agreement is terminated in full or in part for reasons attributable to the guest, the hotel shall charge a penalty in accordance with the provisions of Attached Table 2 (only in cases where the hotel specifies a deposit payment deadline and requests payment as stipulated in Article 3 (2) and excludes cases in which the guest cancels the accommodation agreement prior to such payment). However, in the event that the hotel accepts a special agreement as stipulated in Article 4 (1), guests are only required to pay a penalty for terminating the accommodation agreement when they have been notified of this obligation.
      If the guest does not arrive by 10 pm or two hours after a scheduled arrival time arranged in advance on the day of their stay without contacting the hotel, the accommodation agreement may be deemed to have been terminated by the guest.
    </p>
    
    
    <h1>Article 7 (The Hotel’s Right to Terminate the Accommodation Agreement)</h1>
    <p>
      The hotel may terminate the accommodation agreement in the following cases:
      <ul>
        <li>When the guest is deemed likely to break the law, disrupt public order, or act contrary to public morals, or has engaged in such acts, during their stay</li>
        <li>When the guest is deemed to fall under any of the following categories (a) to (c):</li>
          <ul>
            <li>a. An organized crime group or a member, associate member, or affiliate of an organized crime group or any other antisocial force</li>
            <li>b. When the applicant is involved in corporations or other organizations whose operations are controlled by an organized crime group.</li>
            <li>c. When any of the directors of the applicant’s corporation is classified as a member of an organized crime group</li>
          </ul>
        <li>When the guest’s behavior poses a significant nuisance to other guests</li>
        <li>When the guest clearly has a contagious disease</li>
        <li>When the guest uses violence, threats, blackmail, or intimidation to make unjust or unreasonable demands against the hotel or its employees, or is deemed to have engaged in any similar acts in the past</li>
        <li>When the guest cannot be accommodated due to force majeure</li>
        <li>When the guest is intoxicated, exhibits or has exhibited extremely abnormal behavior that may pose a nuisance to other guests, or in cases that fall under the provisions of prefectural ordinances</li>
        <li>When the guest smokes in bed, messes with firefighting equipment, or otherwise violates the Hotel Rules and Regulations (limited to fire-related regulations)</li>
        <li>When the guest conceals the fact that they have reserved a guestroom within the hotel for the purpose of making a profit, either for themselves or for a third party, by selling goods, etc.</li>
        <li>When the guest violates the Hotel Rules and Regulations stipulated in Article 10, commits any of the prohibited acts set forth in Article 11, or otherwise fails to comply with these Terms and Conditions or with rules on cancellation and payment when making a reservation</li>
      </ul>
    
    
    <h1>Article 8 (Guest Registration)</h1>
    <p>
      Guests must register the following information at the front desk on the day of their stay:
      <ul>
        <li>Guest name, age, gender, address, contact telephone number, and occupation</li>
        <li>Departure date and planned departure time</li>
        <li>Other information deemed necessary by the hotel</li>
      </ul>
      International guests who do not have an address in Japan are required to present a scan or copy of their passport and register their nationality, passport number, port of entry, and immigration date in addition to the information listed above.
      Guests who wish to pay the fees stipulated in Article 13 using traveler’s checks, hotel vouchers, credit cards, or any other alternative for currency must present this in advance when registering the information above. Be aware currency payment will not be accepted if the hotel has notified the guest in advance that currency is not accepted.
    

      <h1>Article 9 (Guestroom Hours)</h1>
      <p>Guestrooms may be used from 3 pm to 11 am the following day. However, for extended stays, guests may use the guestroom for the entire day excluding arrival and departure dates. If guests wish to use the guestroom outside of the specified hours, extension fees will be charged as follows:</p>
      <ul>
        <li>Until 2:00 pm: 10$ per hour per guestroom</li>
        <li>After 2:00 pm: Full room rate</li>
      </ul>
      
      <h1>Article 10 (Compliance with the Hotel Rules and Regulations)</h1>
      <p>Guests are required to comply with the Terms and Conditions as well as the Hotel Rules and Regulations during their stay at the hotel.</p>
      
      <h1>Article 11 (Prohibited Acts)</h1>
      <p>Guests are prohibited from engaging in the following acts, whether directly or through a third party:</p>
      <ul>
        <li>Registering or providing false information when staying at the hotel</li>
        <li>Using fraudulent payment methods, such as stolen credit cards, when staying at the hotel</li>
        <li>Unauthorized acquisition or use of Sotetsu Hotels membership benefits or personal information belonging to a third party</li>
        <li>Using the hotel for business purposes without permission from the hotel</li>
        <li>Mass booking followed by mass cancellation or any similar acts</li>
        <li>Repeatedly making and canceling bookings without a justifiable reason, or any similar acts</li>
        <li>Impersonating the hotel or the hotel group, or any act that could be mistaken for such</li>
        <li>Unauthorized access of systems or computers or any similar acts</li>
        <li>Sending or uploading harmful computer programs or any similar acts</li>
        <li>Removal, defacing, or destroying equipment within the hotel facilities, or any similar acts</li>
        <li>Obstruction of business or damaging the reputation or brand of the hotel or hotel group by making demands that exceed socially acceptable norms, or slandering, defaming, threatening, or harassing the hotel or its staff or posting inflammatory remarks on social networking sites, or any similar acts</li>
        <li>Violence, threats, extortion, or other coercive and unreasonable demands against the hotel or its staff</li>
        <li>Any acts that cause or risk causing inconvenience, damage, or disadvantage to other guests, third parties, the hotel, or the hotel group</li>
        <li>Any acts that infringe or risk infringing on the copyrights, trademarks, or other intellectual property rights, privacy rights, personal rights, or any other rights of other guests, third parties, the hotel, or the hotel group</li>
        <li>Acts that violate or risk violating public order or law, or any criminal acts</li>
        <li>Displaying the power of an organized crime group or acts of aiding and abetting an organized crime group</li>
        <li>Violation of any other provisions of these Terms and Conditions</li>
        <li>Violation of any other rules in the Hotel Rules and Regulations</li>
        <li>Any other acts deemed inappropriate by the hotel</li>
      </ul>
      <p>The hotel reserves the right to claim compensation from the guest for any damages incurred as a result of the prohibited acts mentioned above.</p>

</div>