img{
    height: 40px;
}

footer {
    height: 130px;
    padding: 15px;
    width: 100%;
    background-color: #0f283c;
    color: white;
    margin-top: auto;
    
}

.nav-link{
    text-decoration: none;
    color: white;
}