<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                            <a class="nav-link" routerLink="/addAcc" *ngIf="userService.isLogedIn() && userService.isEmployee() || userService.isOwner()"  routerLinkActive="active">Add accommodation unit</a>
                        </li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright H&B 2023</p>
            </div>
        </div>
    </div>
</footer>
