
<div class="container">
    <form [formGroup]="form"> 
      <div class="row">
        <div class="text-center"> 
          <br>
          <h1 class="text-theme-primary">Add Service</h1>
          <p>Please fill in this form to add a service the hotel provides</p>
        </div>
      </div> 
          <div>  
                <div class="form-group">
                  <label for="name">Service name</label>
                  <input formControlName="name" type="text" class="form-control" id="pricePerPerson" placeholder="Enter the service name">
                  <div *ngIf="Name?.touched && Name?.invalid">
                    <p *ngIf="Name?.errors?.['required']" class="errors">Service name is required</p>
                  </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="price">Service price</label>
                    <input formControlName="price" type="number" class="form-control" id="price" placeholder="Enter the service price">
                    <div *ngIf="Price?.touched && Price?.invalid">
                      <p *ngIf="Price?.errors?.['required']" class="errors">Service price is required</p>
                    </div>
                  </div>
                  <br>
               <span><button (click)="openConfirmationDialog()" [disabled]="!form.valid">Add Service</button></span>
              </div>
          </form> 
        </div>
              
      <br>
      <br>