<section>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{unit.name}}
            </mat-panel-title>
            <mat-panel-description>
              Accommodation Unit
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><b>Price for {{date1}} - {{date2}}: <p *ngIf="price.pricePerNight == null ">Current price not avalible</p>
            <p *ngIf="price.pricePerNight > 0 ">{{price.pricePerNight * (numberOfDays)}} $</p>
          
          </b></p>
            <p>The room type: {{unit.type}}</p>
            <p>The floor that the room is on: {{unit.floor}}</p>
            <p>The maximum capacity of the room: {{unit.capacity}}</p>
            <p>Room characteristics: </p>
            <div class="list-container">
              <p *ngFor="let c of unit.aUnit_Characteristics">{{c.characteristics.name}} | </p>
              <p>Internet access | </p>
              <p>Free toiletries | </p>
              <p>TV</p>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
             {{user.firstName}} {{user.lastName}}
            </mat-panel-title>
            <mat-panel-description>
              User
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Your informations: {{user.userName}}</p>
          <form [formGroup]="form">
            <label>Number of people</label>
            <br>
            <input formControlName="numberOfPeople" id="lname" type="number" placeholder="Enter number of people">
            <div *ngIf="Number?.touched && Number?.invalid">
                <p class="error" *ngIf="Number?.errors?.['required']">
                    Number is required
                </p>
                <p class="error" *ngIf="Number?.errors?.['max']">
                    Number can not be larger than {{unit.capacity}}
                </p>
            </div>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Special services
            </mat-panel-title>
            <mat-panel-description>
              Services
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <form [formGroup]="formC">
          <div class="form-group">
            <label>Select the special Services you wish to add to your reservation:</label>
            <div formArrayName="servicesId">
              <div *ngFor="let c of services let i = index">
                <label>
                  <input type="checkbox" [formControlName]="i"> {{ c.name }} - {{c.price}}$
                </label>
              </div>
            </div>
          </div>
        </form>
        </mat-expansion-panel>
      </mat-accordion>
      <button (click)="requestReservation()" [disabled]="!form.valid && !formC.valid">Request reservation</button>
</section>