<section class="featured-section col-md-8" id="section">
    <div>
        <div class="row"> 
            <div class="col-md-12 text-center">
                <h1>Approved reservations</h1>
                <p id="p">This is a list of all reservations.</p>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-5" *ngFor="let u of reservations">
                <div>
                <mat-card  id="reservations">
                    <mat-card-content>
                        <p>Check in date: {{u.checkIn | date:'shortDate'}}</p>
                        <p>Check out date: {{u.checkOut | date:'shortDate'}}</p>
                        <p>Unit name: {{getUnitName(u.accommodationUnitId)}}</p>
                        <button  (click)="create(u.id)" *ngIf="userService.isEmployee()">Create a receipt</button>
                        <button  (click)="receipt(u.id)">Receipt</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            </div>
        </div>
    </div>
</section>