button{
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c09d63;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}
span{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.container{
    width: 500px;
}

form {
    border: 3px solid #c3c3c3;
    width: 90%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px ;
  }
  .form-group{
    padding: 15px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=file], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .card{
    border: none;
  }

  .errors{
    color: red;
  }