<section class="featured-section">
    <div>
        <app-home></app-home>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Accommodation units</h2>
                <p>Our asortment of luxurious rooms</p> 
            </div>
        </div>
        <br>
        <div class="row justify-content-center col-8" id="units">
            <div class="col-5" *ngFor="let u of units">
                <div (click)="openInfo(u.id)" id="unit">
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>{{u.name}}</mat-card-title>
                    </mat-card-header>
                    <img [src]="u.image" id="img">
                    <br>
                    <mat-card-content>
                        <p *ngIf="u.prices.length !== 0"><b>Current price: {{u.prices[0].pricePerNight}}€</b></p>
                        <p>The room type: {{u.type}} <mat-icon>bed</mat-icon></p>
                        <p>The floor that the room is on: {{u.floor}}</p>
                        <p>The maximum capacity of the room: {{u.capacity}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            </div>
        </div>
    </div>
</section>
