<section class="featured-section">
        <app-home></app-home>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Accommodation units</h2>
                <p>Our asortment of luxurious rooms</p> 
            </div>
        </div>
        <br>
       <div class="row">
            <div class="col-md-12 text-center">
                <div class="filter-container">
                    <div class="filter-group">
                      <label for="orderBy">Order By Price:</label>
                      <select id="orderBy">
                        <option value="asc">Ascending price</option>
                        <option value="desc">Descending price</option>
                      </select>
                    </div>

                    <div class="filter-group">
                      <label for="checkIn">Check-In Date:</label>
                      <input type="date" id="checkIn">
                    </div>
                  
                    <div class="filter-group">
                      <label for="checkOut">Check-Out Date:</label>
                      <input type="date" id="checkOut">
                    </div>
                  
                    <div class="filter-group">
                      <label for="floor">Floor:</label>
                      <input type="number" id="floor" placeholder="Floor">
                    </div>
                  
                    <div class="filter-group">
                      <label for="numberOfPeople">Number of people:</label>
                      <input type="number" id="numberOfPeople" placeholder="Number of people">
                    </div>
                  
                    <div class="filter-group">
                      <button>Apply Filters</button>
                    </div>
                  </div>
            </div>
          </div>
    <div class="row">
        <div id="units">
            <div *ngFor="let u of units">
                <div (click)="openInfo(u.id)" >
                <mat-card id="unit">
                    <mat-card-header>
                        <mat-card-title>{{u.name}}</mat-card-title>
                    </mat-card-header>
                    <img [src]="u.image" id="img">
                    <br>
                    <mat-card-content>
                        <p *ngIf="u.prices.length !== 0"><b>Current price: {{u.prices[0].pricePerNight}}€</b></p>
                        <p *ngIf="u.prices.length == 0"><b>Current price is not availble</b></p>
                        <p>The room type: {{u.type}} <mat-icon>bed</mat-icon></p>
                        <p>The floor that the room is on: {{u.floor}}</p>
                        <p>The maximum capacity of the room: {{u.capacity}}</p>
                    </mat-card-content>
                </mat-card>
                </div>
            </div>
        </div>
    </div>
    
</section>
