#img{
    height: 230px;
    width: 380px;
    margin: 15px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.text {
    padding: 25px;
    color: #0f283c
  }
  #units{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin: auto;
  }
  .unit-show{
    margin: 20px;
    
    width: min-content;
    padding: 10px;
  }
  .unit-hide{
    display: none;
  }
  mat-icon{
    padding-top: 4px;
  }
  mat-card{
    border: 2px solid #c09d63;
  }