#img{
    height: 200px;
    width: auto;
    margin: 15px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.text {
    padding: 25px;
    color: #0f283c
  }
  #units{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin: auto;
  }
  #unit{
    margin: 20px;
    box-shadow: #645206 2px 2px 6px;
    border: #c3c3c3 2px solid;
  }

  mat-icon{
    padding-top: 4px;
  }