
<section class="featured-section col-md-6 " id="section">
    <div class=" justify-content-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>My Reservations</h1>
                <p id="p">This is a list of all your reservations</p>
            </div>
        </div>
        <br>
        <div class="col-12  justify-content-center" >
            <div class="col-12"  *ngFor="let r of reservations">
                <div id="reservations">
                <mat-card>
                    <mat-card-content>
                        <p>Check in date: {{r.checkIn | date:'dd/MM/YYYY'}}</p>
                        <p>Check out date: {{r.checkOut | date:'dd/MM/YYYY'}}</p>
                        <p *ngIf="r.status === false && r.minibar_Reservations.length == 0" id="Pending">Your request is: pending</p>
                        <p *ngIf="r.status === true" id="Approved">Your request has been approved</p>
                        <p *ngIf="r.status === false && r.minibar_Reservations.length > 0" id="Receipt">Your request has a receipt</p>
                        <button *ngIf="r.status === false && r.minibar_Reservations.length > 0" (click)="OpenReceipt(r.id)">View Receipt</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            </div>
        </div>
    </div>
</section>