<div class="section">
    <div class="alert alert-success" *ngIf="success">You have successfully submitted your booking request</div>
    <div class="container">
        <table>
            <tr>
                <td class="slika-tekst">
                    <img [src]="accommodationUnit.image" alt="hotel room">
                    <div class="text"> 
                        <div class="text-unutrasnji">
                            <h1 class="">{{accommodationUnit.name}} room</h1><br>
                            <ul class="list-container" *ngIf="accommodationUnit.aUnit_Characteristics !== ''">
                                <ng-container *ngFor="let u of accommodationUnit.aUnit_Characteristics">
                                     <li [value]="u.characteristics.id" class="list-item">
                                         * {{ u.characteristics.name }}
                                     </li>
                                </ng-container>
                              <li  class="list-item">* Internet Access</li>
                              <li  class="list-item">* TV</li>
                              <li  class="list-item">* Free Toiletries</li>
                            </ul>
                            <p class="opis">{{accommodationUnit.description}}</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>
                            <p *ngIf="accommodationUnit.prices && accommodationUnit.prices.length > 0">Price per night: {{accommodationUnit.prices[0]?.pricePerNight}}$</p>
                            <p *ngIf="accommodationUnit.prices && accommodationUnit.prices.length > 0">Price per person: {{accommodationUnit.prices[0]?.pricePerPerson}}$</p>
                    </span>
                </td>
            </tr>
            <tr *ngIf="!accommodationUnit.prices || accommodationUnit.prices.length === 0">
                <td colspan="2">
                  <span>
                    <p>For prices contact: hiddenHotel@gmail.com</p>
                  </span>
                </td>
            </tr>
            <tr>
               
                <td colspan="2">
                    <span>
                        <button  (click)="Update()" *ngIf="userService.isEmployee() || userService.isOwner()">Update accommodation unit</button>
                        <button  (click)="addPrice()" *ngIf="userService.isEmployee() || userService.isOwner()">Add price</button>
                        <button  (click)="openConfirmationDialog()" *ngIf="userService.isEmployee() || userService.isOwner()">Delete accommodation unit</button>
                        <button  (click)="requestReservation()" *ngIf="userService.isGuest()">Make a reservation</button>
                    </span>
                </td>
            </tr>
        </table>
        </div>
</div>
