
p{
    font-size: 1.2rem;
    margin: 0;
    padding: 15px;
}
h1{
    text-align: center;
    font-weight: 500;
    width: 100%;
    margin-top: 10px;

}
button{
    margin: 0 auto;
    display: block;
    width: 30%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c09d63;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
span{
    display: flex;
    justify-content: space-around;
}
.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    list-style-type: none;
    padding: 0;
    width: fit-content;
    padding: 15px;
}
  
.list-item { 
    margin-right: 10px;
}
.section{
    width: 80%;
    margin :auto;
    padding: 40px;
}
.container{
    display: flex;
    justify-content: center;
}
table{
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
td{
    border: 1px solid #c3c3c3;
    padding: 10px;
}
.slika-tekst {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Add this to create space between the image and text */
  }
  
  .slika-tekst img {
    flex-basis: 40%; /* Set the image width to 40% */
    height: 300px;
    max-width: 100%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
  }
  
  .text {
    max-width: 550px;
    height: auto;
    margin: auto;
    padding: 10px;
  }
  .text-unutrasnji{
    width: 100%;
    text-align: justify;
  }
  .opis::first-letter{
    font-size: 3rem;
    line-height: 1;
    position: absolute;
    top: -1.5em; /* Adjust the value to position the first letter */
    left: 0;
    margin-right: 5px;
  }