
<div class="section p-5">
    <div class="container">
        <span><h1 class="">{{accommodationUnit.name}} room</h1></span>
        <span><button mat-fab color="warn"  (click)="openConfirmationDialog()" *ngIf="userService.isEmployee() || userService.isOwner()">Delete accommodation unit</button></span>
        <img [src]="accommodationUnit.image" alt="beautifull hotel room">
       
        <p>Indulge in the epitome of luxury in our meticulously designed hotel room on floor {{accommodationUnit.floor}}. Immerse yourself in opulence and refinement as you step into a sanctuary of elegance and comfort. The room boasts lavish furnishings, exquisite decor, and meticulous attention to detail, ensuring a truly unforgettable stay.

            Experience the pinnacle of comfort with a plush, king-size bed adorned with premium linens and soft pillows that promise a restful night's sleep. Relax in the spacious seating area, tastefully furnished with stylish and comfortable chairs, perfect for unwinding or entertaining guests.The maximum occupancy of this room is {{accommodationUnit.capacity}} adults.
            
            <br>The room is thoughtfully equipped with state-of-the-art amenities, including a large flat-screen TV, high-speed internet access, and a fully stocked minibar with a selection of top-quality beverages and snacks. The en-suite bathroom exudes sophistication, featuring marble accents, a luxurious bathtub, and premium toiletries that offer a spa-like experience.
            
            As you gaze through the expansive windows, be greeted by breathtaking views of the city skyline or serene landscapes. Immerse yourself in tranquility while enjoying the privacy and serenity that our soundproofed rooms provide.
            
            Our dedicated staff is committed to providing personalized, 24/7 concierge service, ensuring your every need is met with utmost care and attention. Whether you're here for business or leisure, our luxurious hotel room offers an unparalleled experience, leaving you feeling pampered and rejuvenated.</p>    
    </div>
</div>
