
<div class="container">
    <form [formGroup]="form"> 
      <div class="row">
        <div class="text-center"> 
          <br>
          <h1 class="text-theme-primary">Add Minibar</h1>
          <p>Please fill in this form to add a minibar</p>
        </div>
      </div> 
          <div>  
                <div class="form-group">
                  <label for="name">Minibar name</label>
                  <input formControlName="name" type="text" class="form-control" id="minibar" placeholder="Enter the minbar name">
                  <div *ngIf="Name?.touched && Name?.invalid">
                    <p *ngIf="Name?.errors?.['required']" class="errors">Minibar name is required</p>
                  </div>
                </div>
                <br>
               <span><button (click)="openConfirmationDialog()" [disabled]="!form.valid">Add Minibar</button></span>
              </div>
          </form> 
        </div>
              
      <br>
      <br>