/*
color palette
navy: #0f283c
gold: #c09d63
gray: #c3c3c3

*/
/* @import "https://fonts.googleapis.com/css2?family=Libre+Caslon+Display:wght@200..900";
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap:wght@300..900'); */


@import "https://fonts.googleapis.com/css2?family=Libre+Caslon+Display:wght@200..900";
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap:wght@300..900');
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

