<div class="section p-5" id="sec">
    <div class="container">
        <span><h1 class="">{{userDetails.firstName}}</h1></span>
       

        <ng-container *ngIf="userDetails.image != null">
            <img [src]="userDetails.image">
          </ng-container>
          
          <ng-container *ngIf="userDetails.image === null">
            <img src="../../../assets/images/profile.jpg" alt="Fallback Image" *ngIf="userDetails.image === null">
          </ng-container>

        <p>{{userDetails.description}}</p>
        
        <p>Name: {{userDetails.firstName}}</p>
        <p>Last name: {{userDetails.lastName}}</p>
        <p>Email : {{userDetails.userName}}</p>
        <p>Type of worker: //ceka bekend</p>
        <span>
          <!--Ceka delete user-->
              <button  (click)="openConfirmationDialog()" >Delete user</button>
          </span>
        </div>
        
    
</div>

