.home-hotel{
    width: 100%;
    height: 500px;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
   
    padding: 25px;
    color: #0f283c
  }
  a
    {
        color: #c0954f;
        font-size: larger;
    }
span{
    padding: 20px;
}    