
/* Add padding to containers */
.container {
    padding: 16px;
  } 
  

  form {
    border: 3px solid #c3c3c3;
    width: 40%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px ;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #c09d63;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
  }
  
  .registerbtn:hover {
    opacity:0.9;
  }
  
  /* Add a blue text color to links */
  a{
    text-decoration: none;
    color: #0f283c;
  }
  a:hover{
    color: #c09d63;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .alert {
    background-color: #c3c3c3;
    color: #0f283c
  }
  .pass-info{
    color: #b98838;
    font-size: x-small;
    text-align: right;
  }

  /* Set a style for all buttons */
  button {
    background-color: #c09d63;
    color: #061018;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }