<div class="container">
    <form [formGroup]="form">
        <div class="text-center">
          <br> 
          <h1 class="text-theme-primary">Add Items to minibar</h1>
          <p>Please select the item you want to add to the minibar</p>
        </div>
<div class="">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Select Item type type:</label>
          <select formControlName="item" class="form-control" id="item">
            <option *ngFor="let i of items" [value]="i.id">{{ i.name }}</option>
          </select>
        </div>
        <br>
        <div class="form-group">
            <label for="amount">Amount of item</label>
            <input formControlName="amount" type="number" class="form-control" id="floor" placeholder="Enter the amount of items">
            <div *ngIf="Amount?.touched && Amount?.invalid">
              <p *ngIf="Amount?.errors?.['required']" class="errors">Amount is required</p>
              <p *ngIf="Amount?.errors?.['min']" class="errors">Amount has to be greater than 1</p>
              <p *ngIf="Amount?.errors?.['max']" class="errors">Amount has to less than 7</p>
            </div>
          </div>
        <button   (click)="addToMinibar()"> Add Item to minibar</button>
      </div>
    </div>
  </div>
</form>
<br>
<br>
</div>