<section class="featured-section col-md-6 " id="section">
    <div class=" justify-content-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Minibars</h1>
                <p id="p">This is a list of all the created minibars.</p>
            </div>
        </div>
        <br>
        <div class="col-12  justify-content-center" >
            <div class="col-12"  *ngFor="let m of minibars" (click)="openInfo(m.id)">
                <div id="minibars">
                <mat-card>
                    <mat-card-content>
                        <p>Minibar name: {{m.name}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            </div>
            <button routerLink="/addMinibar" id="button">Create minibar</button>
        </div>
    </div>
</section>
 